body{
    background-color: #F7F9FF;
}
.dashboard-sidebar{
    box-shadow: 8px 4px 16px 0px #00000014;
}
.sidebar{
    height: 100vh;
    padding: 20px;
}
.sidebar-header{
    margin-bottom: 32px;
}
.sidebar .nav-link{
    color: #1E1B1B;
}
.sidebar .nav-link:hover{
    color: #fff;
    background-color: #7EBC89;
}
.sidebar .nav-link.active{
    color: #fff;
    background-color: #7EBC89;
}
.sidebar .nav-link span.nav-title{
    font-weight: 500;
    line-height: 24px;
}
.search-icon{
    color: #8C8C8C;
    background-color: transparent;
}
.form-control
{
    box-shadow: none !important;
}
@media screen and (min-width:992px) {
    .search-input-field{
        width: 345px;
    }
}