body{
    background-color: #F7F9FF;
}
.page{
    max-width: 1132px;
}
.brand-color{
    color: #7EBC89;
}
.brand-bg-lightgreen{
    background-color: #E9FBEC;
}
.color-dark{
    color: #1E1B1B;
}
.color-grey{
    color: #554C4C;
}
.color-gray-2{
    color: #8C8C8C;
}
.__shadow{
    box-shadow: 8px 4px 16px 0px #00000014;
}
.light-shadow{
    box-shadow: 0px 2px 12px 0px #0000000F;
}
.brand-shadow{
    box-shadow: 0px 4px 16px 0px #03AAA452;
}
div.our-videos{
    position: relative;
    border-radius: 20px;
    padding: 20px;
}
div.our-videos .video-time{
    font-size: 14px;
}
div.our-videos .play-btn-icon{
    cursor: pointer;
}
div.our-videos .video-category{
    left: 12px;
    top: 12px;
}
div.our-videos .category-name{
    font-size: 14px;
}
div.pagination select{
    width: 70px;
    height: 40px;
    padding: 5px;
    border-radius: 4px;
    border-color: #E0E7ED;
}
.sidebar{
    height: 100vh;
    padding: 20px;
}
.sidebar-header{
    margin-bottom: 32px;
}
.sidebar .nav-link{
    color: #1E1B1B;
}
.sidebar .nav-link:hover{
    color: #fff;
    background-color: #7EBC89;
}
.sidebar .nav-link.active{
    color: #fff;
    background-color: #7EBC89;
}
.sidebar .nav-link span.nav-title{
    font-weight: 500;
    line-height: 24px;
}
.search-icon{
    color: #8C8C8C;
    background-color: transparent;
}
.form-control
{
    box-shadow: none !important;
}
img.video-poster{
    width: 100%;
    border-radius: 20px;
}
img.dr-img{
    width: 100%;
}
.btn-style-2{
    background-color: #7EBC89;
    border-radius: 4px;
    padding: 16px 160px;
    border: none;
}
.btn-style-2 a h2{
    color: #fff;
    font-size: 20px;
    font-weight: 700;
    margin: 0;
    line-height: 20px;
}
@media screen and (min-width:992px) {
    .search-input-field{
        width: 345px;
    }
    .dashboard-margin {
        margin-top: 32px;
    }
    .dashboard-padding{
        padding: 32px;
    }
    .top-banner {
        margin-top: 40px;
    }
}
@media screen and (max-width:992px) {
    .dashboard-margin{
        margin-top: 25px;
    }
    .dashboard-padding{
        padding: 25px;
    }
    .btn-style-2{
        padding: 16px 100px;
    }
}
@media screen and (max-width:768px) {
    .dashboard-margin{
        margin-top: 20px;   
    }
    .dashboard-padding{
        padding: 18px;
    }
    .btn-style-2 a h2{
        font-size: 17px;
        line-height: 14px;
    }
    .btn-style-2{
        padding: 16px 30px;
    }
}
@media only screen and (max-width:400px) {
    .btn-style-2 a h2{
        line-height: 18px;
    }
}